pathspec==0.12.1
pyflakes==3.2.0
isort==5.13.2
black==24.4.2
mypy-extensions==1.0.0
flake8==7.1.0
platformdirs==4.2.2
packaging==24.1
pycodestyle==2.12.0
mccabe==0.7.0
click==8.1.7
stack-data==0.6.3
asttokens==2.4.1
prompt_toolkit==3.0.47
matplotlib-inline==0.1.7
decorator==5.1.1
ipython==8.26.0
wcwidth==0.2.13
Pygments==2.18.0
ptyprocess==0.7.0
pexpect==4.9.0
pure-eval==0.2.2
jedi==0.19.1
parso==0.8.4
executing==2.0.1
six==1.16.0
traitlets==5.14.3
